@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 375px) and (max-width:400px){
  .page-wrap {
    padding: 10px !important;
    min-height: 100vh;
    position: relative;
  }

  .intro {
    gap: 12px !important;
    margin-top: 9px;
  }
  .intro img {
    width: 60px !important;
    height: auto !important;
    inset: 0 !important;
    position: static !important;
    transform: translateX(5px)
    
  }
  .intro p {
    font-size: clamp(5px, 4.5vw, 12px) !important;
    position: static !important;
    margin: 0px -9px !important;
    text-align: left;
    transform: translateX(-15px)
  }

  /* Hero-блок (огромные заголовки и картинка) */
  .hero * {
    position: static !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    transform: translateY(-4px)
    
  }
  .hero h1 {
    font-size: clamp(20px, 10vw, 30.5px) !important;
    line-height: 1.1 !important;
    margin: 8px 5px !important;
    text-wrap: balance;
    text-align: center;
  }
   .p-left {
    font-size: clamp(5px, 4.8vw, 10px) !important;
    margin: 2px 11px !important;
    transform: translateY(-13px)
    
  }
   .p-right {
    font-size: clamp(5px, 4.8vw, 10px) !important;
    margin: 2px -2px !important;
    transform: translateY(-24px)
    
  }

  .p-down {
    font-size: clamp(5px, 4.8vw, 10px) !important;
    margin: 2px 11px !important;
    transform: translateY(5px)
    
  }
   
  .hero ul {
    font-size: clamp(5px, 4.5vw, 9px) !important;
    line-height: 1.4 !important;
    padding-left: 0 !important;
    margin: 8px 0 !important;
    transform: translateY(-23px)
  }
  .hero img {
    width: 51% !important;
    height: auto !important;
    display: block !important;
    margin: 12px 142px 0 !important;
    transform: translateY(-160px);
    
  }

  /* Описание */
  .desc {
    position: static !important;
  }
  .desc p {
    font-size: clamp(5px, 4.3vw, 10px) !important;
    line-height: 1.45 !important;
    text-align: center !important;
    transform: translateY(-160px);
  }

  /* ИГРА ДЛЯ ВАС */
  .who p {
    font-size: clamp(10px, 7vw, 24px) !important;
    margin: 16px 0 !important;
    text-align: center !important;
    transform: translateY(650px);
  }

  /* Карточки 1–6 */
  .cards-container {
    position: relative !important;
    gap: 10px !important;
    row-gap: 20px !important;
    justify-content: center !important;
    transform: translateY(635px);
   
  }
  .cards-container > div {
    width: 170px !important;
    height: 150px !important;
    padding-top: 52px !important; 
  }
  .cards-container p {
    font-size: clamp(5px, 4.2vw, 13px) !important;
    width: 150px!important;
    top: 0 !important;
    text-align: center;
  }
  .cards-container > div > div[style*="borderRadius: 116.5"] {
    width: 53px !important;
    height: 53px !important;
    top: -48px !important;
  }

  .card-circle {
    position: absolute;
    top: -20px;                        
    left: 50%;
    transform: translateX(-50%);
    width: 59px;
    height: 59px;
    background: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    }

    .card-circle img{
      width: 55px;
      height:55px;
      object-fit: contain;
    }

    .card-p1{
      transform: translateY(-20px);
    }

    .card-p2{
      transform: translateY(-20px);
    }

    .card-p3{
      transform: translateY(-10px);
    }

    .card-p4{
      transform: translateY(-15px);
    }

    .card-p5{
      transform: translateY(-5px);
    }
    .card-p6{
      transform: translateY(-5px);
    }

  .structure-left {
    width: 100% !important;
    height: auto !important;
    position: static !important;
  }
  .structure-left .p1 {
    font-size: clamp(10px, 6vw, 28px) !important;
    transform: translateY(-135px);
    padding: 0px 10px;
  }
  .structure-left .p2 {
    font-size: clamp(9px, 6vw, 11px) !important;
    transform: translateY(-85px);
    width: 200px;
  }

  .structure-left ul {
    font-size: clamp(9px, 4.2vw, 11px) !important;
    line-height: 1.5 !important;
    transform: translateY(-67px);
    padding: 0px 20px;
  }
  
  .structure-circles {
     position: static !important;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 2px 8px !important; 
      width: 40% !important;
      height: auto !important;
      margin-top: 20px !important;
      transform: translateY(-300px);
      margin-left:220px ;
  }
  .structure-circles > div {
    width: 40px !important;
    height: 40px !important;
  }

  .structure-circles img{
    width: 35px;
    height: 35px;
  }

  .denushka{
    width: 38px !important;
    height: 38px !important;
    margin-right: 15px;
  }

  .teama{
    width: 30px !important;
    height: 30px !important;
  }

   .red-circle{
    background: #780f0f;
    border-radius: 50%;
    position: absolute;
    top:14px;
    left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    width: 11px;
    height: 11px;    
  }

  /* Команда */
  .team-title {
    position: static !important;
  }
  .team-title p {
    font-size: clamp(20px, 6.5vw, 28px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-255px);
  }
  .team-slider {
    position: static !important;
  }
  .team-slider > div {
    width: 280px !important;
    height:270px !important;
    transform: translateY(-275px);
  }
  .team-slider > div > div {
    flex: 0 0 100% !important;
    height:270px !important;
  }

  /* Блок МАК-карты */
  .mac-text {
    width: 100% !important;
    left: 0 !important;
    position: static !important;
    transform: translateY(-250px);
  }
  .mac-text p {
    font-size: clamp(10px, 4.2vw, 12px) !important;
    text-align: center !important;
  }

  /* Тарифы */
  .tariffs-title {
    position: static !important;
  }
  .tariffs-title p {
    font-size: clamp(10px, 6.5vw, 20px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-430px);
  }
  .tariffs {
    position: static !important;
    gap: 16px !important;
     transform: translateY(-450px);
  }
  .tariffs > div {
    width: 164px !important;
    height: 280px !important;
    padding: 20px !important;
  }
  .CardBlack{
    width: 164px !important;
    height: 257px !important;
   
  }
  .cardRed {
    width: 164px !important;
    height: 310px !important;
    padding: 20px !important;
  }

  .tariffs h3 {
    font-size: clamp(5px, 5.5vw, 14px) !important;
  }
  .tariffs ul {
    font-size: clamp(5px, 4.2vw, 10px) !important;
    transform: translateY(-30px);
  }


  .tariffs [style*="rotate(-15deg)"] {
    width: 46px !important;
    height: 44px !important;
    font-size: 14px !important;
    top: -15px !important;
    right: -12px !important;
  }

  /* Форма */
  .lead-form {
    width: 319px !important;
    height: 604px;
    padding: 20px !important;
    top: 0 !important;
    gap: 16px !important;
    transform: translateY(-400px);
    
  }
  .lead-form h2 {
    font-size: clamp(18px, 6vw, 22px) !important;
    margin-bottom: -25px !important;
  }
 
  .lead-form p {
    font-size: 14px !important;
    margin-bottom: 4px !important;
  }
  .lead-form input,
  .lead-form textarea {
    height: 52px !important;
    font-size: 16px !important;
    padding: 0 14px !important;
    border-width: 1.5px !important;
  }
  .lead-form textarea {
    height: 140px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .lead-form button[type="submit"] {
    height: 56px !important;
    font-size: 16px !important;
    border-radius: 16px !important;
  }

  .tariffs button {
    all: unset !important; 
    display: inline-block !important;
    text-align: center !important;
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 15px !important;
    font-size: 9px !important;
    font-weight: 600 !important;
    width: 100px !important;
    height: 28px !important;
    line-height: 24px !important;
    padding: 0 !important;
    margin-top: -7px !important;
  }

  .tariffs button:nth-child(2) {
    background: #fff !important;
    color: #000 !important;
    border: 
    none !important;
  }

  .btns1{
    transform: translateY(10px);

  }

  .btns2{
    transform: translateY(-11px);
  }

  .btns3{
    transform: translateY(-10px);
  }

  .btns4{
    transform: translateY(8px);
  }

   .CardBlack[style*="height"] {
    height: 290px !important;
  }
  .CardRed[style*="height"] {
    height: 390px !important;
  }

  .lead-form > div {
    flex-direction: column !important;
    gap: 5px !important;
  }

  .lead-form > div > div {
    width: 100% !important;
   
  }

  .lead-form input,
  .lead-form textarea {
    width: 100% !important;
  }

  .phone-block{
    transform: translateY(-10px);

  }

  .desc-block{
    transform: translateY(-20px);

  }

  .formbtn{
    width: 150px !important;
    display: block;      
    margin: 0 auto;
  }


  .watermark{
     font-weight: 600;
     font-size: 15px !important;
     margin-top: -320px !important; 
     margin-bottom: 10px !important;  
  }

}

/* Мобилка */
@media (min-width: 376px) and (max-width: 420px) {
  .page-wrap {
    padding: 10px !important;
    min-height: 100vh;
    position: relative;
  }

  .intro {
    gap: 12px !important;
    margin-top: 2x;
  }
  .intro img {
    width: 70px !important;
    height: auto !important;
    inset: 0 !important;
    position: static !important;
    transform: translateX(5px)
    
  }
  .intro p {
    font-size: clamp(5px, 4.5vw, 15px) !important;
    position: static !important;
    margin: 0 !important;
    text-align: left;
    transform: translateX(-10px);
  }

  /* Hero-блок (огромные заголовки и картинка) */
  .hero * {
    position: static !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    transform: translateY(-4px)
    
  }
  .hero h1 {
    font-size: clamp(20px, 10vw, 32px) !important;
    line-height: 1.1 !important;
    margin: 8px 5px !important;
    text-wrap: balance;
    text-align: center;
  }
   .p-left {
    font-size: clamp(5px, 4.8vw, 10px) !important;
    margin: 2px 11px !important;
    transform: translateY(-13px)
    
  }
   .p-right {
    font-size: clamp(5px, 4.8vw, 10px) !important;
    margin: 2px 0px !important;
    transform: translateY(-24px)
    
  }

  .p-down {
    font-size: clamp(5px, 4.8vw, 10px) !important;
    margin: 2px 11px !important;
    transform: translateY(5px)
    
  }
   
  .hero ul {
    font-size: clamp(5px, 4.5vw, 9px) !important;
    line-height: 1.4 !important;
    padding-left: 0 !important;
    margin: 8px 0 !important;
    transform: translateY(-23px)
  }
  .hero img {
    width: 52% !important;
    height: auto !important;
    display: block !important;
    margin: 12px 150px 0 !important;
    transform: translateY(-166px);
    
  }

  /* Описание */
  .desc {
    position: static !important;
  }
  .desc p {
    font-size: clamp(5px, 4.3vw, 10px) !important;
    line-height: 1.45 !important;
    text-align: center !important;
    transform: translateY(-160px);
  }

  /* ИГРА ДЛЯ ВАС */
  .who p {
    font-size: clamp(10px, 7vw, 24px) !important;
    margin: 16px 0 !important;
    text-align: center !important;
    transform: translateY(650px);
  }

  /* Карточки 1–6 */
  .cards-container {
    position: relative !important;
    gap: 10px !important;
    row-gap: 20px !important;
    justify-content: center !important;
    transform: translateY(635px);
   
  }
  .cards-container > div {
    width: 170px !important;
    height: 150px !important;
    padding-top: 52px !important; 
  }
  .cards-container p {
    font-size: clamp(5px, 4.2vw, 13px) !important;
    width: 150px!important;
    top: 0 !important;
    text-align: center;
  }
  .cards-container > div > div[style*="borderRadius: 116.5"] {
    width: 53px !important;
    height: 53px !important;
    top: -48px !important;
  }

  .card-circle {
    position: absolute;
    top: -20px;                        
    left: 50%;
    transform: translateX(-50%);
    width: 59px;
    height: 59px;
    background: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    }

    .card-circle img{
      width: 55px;
      height:55px;
      object-fit: contain;
    }

    .card-p1{
      transform: translateY(-20px);
    }

    .card-p2{
      transform: translateY(-20px);
    }

    .card-p3{
      transform: translateY(-10px);
    }

    .card-p4{
      transform: translateY(-15px);
    }

    .card-p5{
      transform: translateY(-5px);
    }
    .card-p6{
      transform: translateY(-5px);
    }

  .structure-left {
    width: 100% !important;
    height: auto !important;
    position: static !important;
  }
  .structure-left .p1 {
    font-size: clamp(10px, 6vw, 28px) !important;
    transform: translateY(-135px);
    padding: 0px 10px;
  }
  .structure-left .p2 {
    font-size: clamp(9px, 6vw, 11px) !important;
    transform: translateY(-85px);
    width: 200px;
  }

  .structure-left ul {
    font-size: clamp(9px, 4.2vw, 11px) !important;
    line-height: 1.5 !important;
    transform: translateY(-67px);
    padding: 0px 20px;
  }
  
  .structure-circles {
     position: static !important;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 2px 8px !important; 
      width: 40% !important;
      height: auto !important;
      margin-top: 20px !important;
      transform: translateY(-300px);
      margin-left:220px ;
  }
  .structure-circles > div {
    width: 40px !important;
    height: 40px !important;
  }

  .structure-circles img{
    width: 35px;
    height: 35px;
  }

  .denushka{
    width: 38px !important;
    height: 38px !important;
    margin-right: 15px;
  }

  .teama{
    width: 30px !important;
    height: 30px !important;
  }

   .red-circle{
    background: #780f0f;
    border-radius: 50%;
    position: absolute;
    top:14px;
    left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    width: 11px;
    height: 11px;    
  }

  /* Команда */
  .team-title {
    position: static !important;
  }
  .team-title p {
    font-size: clamp(20px, 6.5vw, 28px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-255px);
  }
  .team-slider {
    position: static !important;
  }
  .team-slider > div {
    width: 280px !important;
    height:270px !important;
    transform: translateY(-275px);
  }
  .team-slider > div > div {
    flex: 0 0 100% !important;
    height:270px !important;
  }

  /* Блок МАК-карты */
  .mac-text {
    width: 100% !important;
    left: 0 !important;
    position: static !important;
    transform: translateY(-250px);
  }
  .mac-text p {
    font-size: clamp(10px, 4.2vw, 12px) !important;
    text-align: center !important;
  }

  /* Тарифы */
  .tariffs-title {
    position: static !important;
  }
  .tariffs-title p {
    font-size: clamp(10px, 6.5vw, 20px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-430px);
  }
  .tariffs {
    position: static !important;
    gap: 16px !important;
     transform: translateY(-450px);
  }
  .tariffs > div {
    width: 164px !important;
    height: 280px !important;
    padding: 20px !important;
  }
  .CardBlack{
    width: 164px !important;
    height: 257px !important;
   
  }
  .cardRed {
    width: 164px !important;
    height: 310px !important;
    padding: 20px !important;
  }

  .tariffs h3 {
    font-size: clamp(5px, 5.5vw, 14px) !important;
  }
  .tariffs ul {
    font-size: clamp(5px, 4.2vw, 10px) !important;
    transform: translateY(-30px);
  }


  .tariffs [style*="rotate(-15deg)"] {
    width: 46px !important;
    height: 44px !important;
    font-size: 14px !important;
    top: -15px !important;
    right: -12px !important;
  }

  /* Форма */
  .lead-form {
    width: 319px !important;
    height: 604px;
    padding: 20px !important;
    top: 0 !important;
    gap: 16px !important;
    transform: translateY(-390px);
    
  }
  .lead-form h2 {
    font-size: clamp(18px, 6vw, 22px) !important;
    margin-bottom: -25px !important;
  }
 
  .lead-form p {
    font-size: 14px !important;
    margin-bottom: 4px !important;
  }
  .lead-form input,
  .lead-form textarea {
    height: 52px !important;
    font-size: 16px !important;
    padding: 0 14px !important;
    border-width: 1.5px !important;
  }
  .lead-form textarea {
    height: 140px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .lead-form button[type="submit"] {
    height: 56px !important;
    font-size: 16px !important;
    border-radius: 16px !important;
  }

  .tariffs button {
    all: unset !important; 
    display: inline-block !important;
    text-align: center !important;
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 15px !important;
    font-size: 9px !important;
    font-weight: 600 !important;
    width: 100px !important;
    height: 28px !important;
    line-height: 24px !important;
    padding: 0 !important;
    margin-top: -7px !important;
  }

  .tariffs button:nth-child(2) {
    background: #fff !important;
    color: #000 !important;
    border: 
    none !important;
  }

  .btns1{
    transform: translateY(10px);

  }

  .btns2{
    transform: translateY(-11px);
  }

  .btns3{
    transform: translateY(-10px);
  }

  .btns4{
    transform: translateY(8px);
  }

   .CardBlack[style*="height"] {
    height: 290px !important;
  }
  .CardRed[style*="height"] {
    height: 390px !important;
  }

  .lead-form > div {
    flex-direction: column !important;
    gap: 5px !important;
  }

  .lead-form > div > div {
    width: 100% !important;
   
  }

  .lead-form input,
  .lead-form textarea {
    width: 100% !important;
  }

  .phone-block{
    transform: translateY(-10px);

  }

  .desc-block{
    transform: translateY(-20px);

  }

  .formbtn{
    width: 150px !important;
    display: block;      
    margin: 0 auto;
  }


  .watermark{
     font-weight: 600;
     font-size: 15px !important;
     margin-top: -320px !important; 
     margin-bottom: 10px !important;  
  }

}

@media (min-width: 430px) and (max-width: 500px) {
  .page-wrap {
    padding: 10px !important;
    min-height: 100vh;
    position: relative;
  }

  .intro {
    gap: 12px !important;
    margin-top: 0px;
  }
  .intro img {
    width: 70px !important;
    height: auto !important;
    inset: 0 !important;
    position: static !important;
    transform: translateX(5px)
    
  }
  .intro p {
    font-size: clamp(5px, 4.5vw, 15px) !important;
    position: static !important;
    margin: 0 !important;
    text-align: left;
    transform: translateX(-10px);
  }

  /* Hero-блок (огромные заголовки и картинка) */
  .hero * {
    position: static !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    transform: translateY(-4px)
    
  }
  .hero h1 {
    font-size: clamp(20px, 10vw, 35px) !important;
    line-height: 1.1 !important;
    margin: 8px 5px !important;
    text-wrap: balance;
    text-align: center;
  }
   .p-left {
    font-size: clamp(5px, 4.8vw, 11px) !important;
    margin: 2px 11px !important;
    transform: translateY(-13px)
    
  }
   .p-right {
    font-size: clamp(5px, 4.8vw, 11px) !important;
    margin: 2px 2px !important;
    transform: translateY(-24px)
    
  }

  .p-down {
    font-size: clamp(5px, 4.8vw, 10px) !important;
    margin: 2px 15px !important;
    transform: translateY(20px)
    
  }
   
  .hero ul {
    font-size: clamp(5px, 4.5vw, 10px) !important;
    line-height: 1.4 !important;
    padding-left: 0 !important;
    margin: 8px 2px !important;
    transform: translateY(-24px)
  }
  .hero img {
    width: 52% !important;
    height: auto !important;
    display: block !important;
    margin: 12px 160px 0 !important;
    transform: translateY(-164px);
    
  }

  /* Описание */
  .desc {
    position: static !important;
  }
  .desc p {
    font-size: clamp(5px, 4.3vw, 10px) !important;
    line-height: 1.45 !important;
    text-align: center !important;
    transform: translateY(-160px);
  }

  /* ИГРА ДЛЯ ВАС */
  .who p {
    font-size: clamp(10px, 7vw, 24px) !important;
    margin: 16px 0 !important;
    text-align: center !important;
    transform: translateY(650px);
  }

  /* Карточки 1–6 */
  .cards-container {
    position: relative !important;
    gap: 10px !important;
    row-gap: 20px !important;
    justify-content: center !important;
    transform: translateY(635px);
   
  }
  .cards-container > div {
    width: 170px !important;
    height: 150px !important;
    padding-top: 52px !important; 
  }
  .cards-container p {
    font-size: clamp(5px, 4.2vw, 13px) !important;
    width: 150px!important;
    top: 0 !important;
    text-align: center;
  }
  .cards-container > div > div[style*="borderRadius: 116.5"] {
    width: 53px !important;
    height: 53px !important;
    top: -48px !important;
  }

  .card-circle {
    position: absolute;
    top: -20px;                        
    left: 50%;
    transform: translateX(-50%);
    width: 59px;
    height: 59px;
    background: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    }

    .card-circle img{
      width: 55px;
      height:55px;
      object-fit: contain;
    }

    .card-p1{
      transform: translateY(-20px);
    }

    .card-p2{
      transform: translateY(-20px);
    }

    .card-p3{
      transform: translateY(-10px);
    }

    .card-p4{
      transform: translateY(-15px);
    }

    .card-p5{
      transform: translateY(-5px);
    }
    .card-p6{
      transform: translateY(-5px);
    }

  .structure-left {
    width: 100% !important;
    height: auto !important;
    position: static !important;
  }
  .structure-left .p1 {
    font-size: clamp(10px, 6vw, 28px) !important;
    transform: translateY(-135px);
    padding: 0px 10px;
  }
  .structure-left .p2 {
    font-size: clamp(9px, 6vw, 11px) !important;
    transform: translateY(-85px);
    width: 200px;
  }

  .structure-left ul {
    font-size: clamp(9px, 4.2vw, 11px) !important;
    line-height: 1.5 !important;
    transform: translateY(-67px);
    padding: 0px 20px;
  }
  
  .structure-circles {
     position: static !important;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 2px 8px !important; 
      width: 40% !important;
      height: auto !important;
      margin-top: 20px !important;
      transform: translateY(-300px);
      margin-left:220px ;
  }
  .structure-circles > div {
    width: 40px !important;
    height: 40px !important;
  }

  .structure-circles img{
    width: 35px;
    height: 35px;
  }

  .denushka{
    width: 38px !important;
    height: 38px !important;
    margin-right: 15px;
  }

  .teama{
    width: 30px !important;
    height: 30px !important;
  }

   .red-circle{
    background: #780f0f;
    border-radius: 50%;
    position: absolute;
    top:14px;
    left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    width: 11px;
    height: 11px;    
  }

  /* Команда */
  .team-title {
    position: static !important;
  }
  .team-title p {
    font-size: clamp(20px, 6.5vw, 28px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-255px);
  }
  .team-slider {
    position: static !important;
  }
  .team-slider > div {
    width: 280px !important;
    height:270px !important;
    transform: translateY(-275px);
  }
  .team-slider > div > div {
    flex: 0 0 100% !important;
    height:270px !important;
  }

  /* Блок МАК-карты */
  .mac-text {
    width: 100% !important;
    left: 0 !important;
    position: static !important;
    transform: translateY(-250px);
  }
  .mac-text p {
    font-size: clamp(10px, 4.2vw, 12px) !important;
    text-align: center !important;
  }

  /* Тарифы */
  .tariffs-title {
    position: static !important;
  }
  .tariffs-title p {
    font-size: clamp(10px, 6.5vw, 20px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-425px);
  }
  .tariffs {
    position: static !important;
    gap: 16px !important;
     transform: translateY(-440px);
  }
  .tariffs > div {
    width: 164px !important;
    height: 280px !important;
    padding: 20px !important;
  }
  .CardBlack{
    width: 164px !important;
    height: 257px !important;
   
  }
  .cardRed {
    width: 164px !important;
    height: 310px !important;
    padding: 20px !important;
  }

  .tariffs h3 {
    font-size: clamp(5px, 5.5vw, 14px) !important;
  }
  .tariffs ul {
    font-size: clamp(5px, 4.2vw, 10px) !important;
    transform: translateY(-30px);
  }


  .tariffs [style*="rotate(-15deg)"] {
    width: 46px !important;
    height: 44px !important;
    font-size: 14px !important;
    top: -15px !important;
    right: -12px !important;
  }

  /* Форма */
  .lead-form {
    width: 319px !important;
    height: 604px;
    padding: 20px !important;
    top: 0 !important;
    gap: 16px !important;
    transform: translateY(-380px);
    
  }
  .lead-form h2 {
    font-size: clamp(18px, 6vw, 22px) !important;
    margin-bottom: -25px !important;
  }
 
  .lead-form p {
    font-size: 14px !important;
    margin-bottom: 4px !important;
  }
  .lead-form input,
  .lead-form textarea {
    height: 52px !important;
    font-size: 16px !important;
    padding: 0 14px !important;
    border-width: 1.5px !important;
  }
  .lead-form textarea {
    height: 140px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .lead-form button[type="submit"] {
    height: 56px !important;
    font-size: 16px !important;
    border-radius: 16px !important;
  }

  .tariffs button {
    all: unset !important; 
    display: inline-block !important;
    text-align: center !important;
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 15px !important;
    font-size: 9px !important;
    font-weight: 600 !important;
    width: 100px !important;
    height: 28px !important;
    line-height: 24px !important;
    padding: 0 !important;
    margin-top: -7px !important;
  }

  .tariffs button:nth-child(2) {
    background: #fff !important;
    color: #000 !important;
    border: 
    none !important;
  }

  .btns1{
    transform: translateY(10px);

  }

  .btns2{
    transform: translateY(-11px);
  }

  .btns3{
    transform: translateY(-10px);
  }

  .btns4{
    transform: translateY(8px);
  }

   .CardBlack[style*="height"] {
    height: 290px !important;
  }
  .CardRed[style*="height"] {
    height: 390px !important;
  }

  .lead-form > div {
    flex-direction: column !important;
    gap: 5px !important;
  }

  .lead-form > div > div {
    width: 100% !important;
   
  }

  .lead-form input,
  .lead-form textarea {
    width: 100% !important;
  }

  .phone-block{
    transform: translateY(-10px);

  }

  .desc-block{
    transform: translateY(-20px);

  }

  .formbtn{
    width: 150px !important;
    display: block;      
    margin: 0 auto;
  }


  .watermark{
     font-weight: 600;
     font-size: 15px !important;
     margin-top: -320px !important; 
     margin-bottom: 10px !important;  
  }

}


:root {
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}
html, body {
  -webkit-tap-highlight-color: transparent;
}
button, a {
  min-height: 44px;
}


   

/* Фикс на Веб версию */

@media (min-width: 1024px) and (max-width:1300px) {

   .page-wrap {
    padding: 10px !important;
    min-height: 100vh;
    position: relative;
}

  .intro {
    gap: 12px !important;
    margin-top: 2px;
  }
  .intro img {
    width: 125px !important;
    height: auto !important;
    margin: 0px 15px!important;
    inset: 0 !important;
    position: static !important;
    transform: translateX(5px)
    
  }
  .intro p {
    font-size: clamp(5px, 4.5vw, 26px) !important;
    position: static !important;
    margin: 0px 19px!important;
    text-align: left;
    transform: translateX(-10px)
  }

  /* Hero-блок (огромные заголовки и картинка) */
  .hero * {
    position: static !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    transform: translateY(-4px)
  }

  .hero h1 {
    font-size: clamp(20px, 10vw, 83px) !important;
    line-height: 1.1 !important;
    margin: 8px 5px !important;
    text-wrap: balance;
    text-align: center;
  }

   .p-left {
    font-size: clamp(5px, 4.8vw, 26px) !important;
    margin: 2px 38px !important;
    transform: translateY(-17px) 
  }

   .p-right {
    font-size: clamp(5px, 4.8vw, 26px) !important;
    margin: 2px 25px !important;
    transform: translateY(-43px) 
  }

  .p-down {
    font-size: clamp(5px, 4.8vw, 24px) !important;
    margin: 2px 40px !important;
    transform: translateY(120px)
  }
   
  .hero ul {
    font-size: clamp(5px, 4.5vw, 24px) !important;
    line-height: 1.4 !important;
    padding-left: 0 !important;
    margin: 8px 25px !important;
    transform: translateY(-30px)
  }
  .hero img {
    width: 55% !important;
    height: auto !important;
    display: block !important;
    margin: 12px 400px 0 !important;
    transform: translateY(-345px);
    
  }

  /* Описание */
  .desc {
    position: static !important;
  }
  .desc p {
    font-size: clamp(5px, 4.3vw, 25px) !important;
    line-height: 1.45 !important;
    text-align: center !important;
    transform: translateY(-320px);
  }

  /* ИГРА ДЛЯ ВАС */
  .who p {
    font-size: clamp(10px, 7vw, 40px) !important;
    margin: 16px 0 !important;
    text-align: center !important;
    transform: translateY(500px);
  }

  /* Карточки 1–6 */
  .cards-container {
    position: relative !important;
    gap: 20px !important;
    row-gap: 60px !important;
    justify-content: center !important;
    transform: translateY(525px);
   
  }
  .cards-container > div {
    width: 400px !important;
    height: 320px !important;
    padding-top: 52px !important; 
  }
  .cards-container p {
    font-size: clamp(5px, 4.2vw, 29px) !important;
    width: 380px!important;
    top: 0 !important;
    text-align: center !important;
  }
  .cards-container > div > div[style*="borderRadius: 116.5"] {
    width: 60px !important;
    height: 53px !important;
  }

  .card-circle {
    position: absolute;
    top: -20px;                        
    left: 50%;
    transform: translateX(-50%);
    width: 59px;
    height: 59px;
    background: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    }

    .card-circle img{
      width: 120px;
      height:120px;
      object-fit: contain;
    }

    .card-p1{
      transform: translateY(-60px);
    }

    .card-p2{
      transform: translateY(-60px);
    }

    .card-p3{
      transform: translateY(-60px);
    }

    .card-p4{
      transform: translateY(-60px);
    }

    .card-p5{
      transform: translateY(-35px);
    }
    .card-p6{
      transform: translateY(-60px);
    }

  .structure-left {
    width: 100% !important;
    height: auto !important;
    position: static !important;
  }
  .structure-left .p1 {
    font-size: clamp(10px, 6vw, 40px) !important;
    transform: translateY(-210px);
    padding: 0px 40px;
  }
  .structure-left .p2 {
    font-size: clamp(9px, 6vw, 25px) !important;
    transform: translateY(-175px);
    width: 500px;
    padding: 0px 31px;
  }

  .structure-left ul {
    font-size: clamp(9px, 4.2vw, 25px) !important;
    line-height: 1.5 !important;
    transform: translateY(-170px);
    padding: 0px 65px;
  }
  
  .structure-circles {
     position: static !important;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 2px 8px !important; 
      width: 50% !important;
      height: auto !important;
      margin-top: 20px !important;
      transform: translateY(-550px);
      margin-left:500px ;
  }
  .structure-circles > div {
    width: 120px !important;
    height: 120px !important;
  }

  .structure-circles img{
    width: 90px;
    height: 90px;
  }

  .denushka{
    width: 90px !important;
    height: 90px !important;
    margin-right: 15px;
  }

  .teama{
    width: 90px !important;
    height: 90px !important;
  }

   .red-circle{
    background: #780f0f;
    border-radius: 50%;
    position: absolute;
    top:14px;
    left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    width: 11px;
    height: 11px;    
  }

  /* Команда */
  .team-title {
    position: static !important;
  }
  .team-title p {
    font-size: clamp(20px, 6.5vw, 40px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-480px);
  }
  .team-slider {
    position: static !important;
  }
  .team-slider > div {
    width: 580px !important;
    height:570px !important;
    transform: translateY(-495px);
  }
  .team-slider > div > div {
    flex: 0 0 100% !important;
    height:570px !important;
  }

  /* Блок МАК-карты */
  .mac-text {
    width: 95% !important;
    left: 0 !important;
    position: static !important;
    transform: translateY(-460px);
  }
  .mac-text p {
    font-size: clamp(10px, 4.2vw, 25px) !important;
    text-align: center !important;
  }

  /* Тарифы */
  .tariffs-title {
    position: static !important;
  }
  .tariffs-title p {
    font-size: clamp(10px, 6.5vw, 40px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-470px);
  }
  .tariffs {
    position: static !important;
    gap: 30px !important;
     transform: translateY(-470px);
  }
  .tariffs > div {
    width: 400px !important;
    height: 650px !important;
    padding: 20px !important;
  }
  
  .tariffs h3 {
    font-size: clamp(5px, 5.5vw, 23px) !important;
  }
  .tariffs ul {
    font-size: clamp(5px, 4.2vw, 15px) !important;
    transform: translateY(-30px);
  }

  .tarriffs li:not(:last-child) {
  margin-bottom: 10px; 
}

  .tariffs [style*="rotate(-15deg)"] {
    width: 100px !important;
    height: 100px !important;
    font-size: 20px !important;
    top: -35px !important;
    right: -30px !important;
  }

  /* Форма */
  .lead-form {
    width: 619px !important;
    height: 604px;
    padding: 20px !important;
    top: 0 !important;
    gap: 16px !important;
    transform: translateY(-400px);
    
  }
  .lead-form h2 {
    font-size: clamp(18px, 6vw, 22px) !important;
    margin-bottom: -25px !important;
  }
 
  .lead-form p {
    font-size: 14px !important;
    margin-bottom: 4px !important;
  }
  .lead-form input,
  .lead-form textarea {
    height: 52px !important;
    font-size: 16px !important;
    padding: 0 14px !important;
    border-width: 1.5px !important;
  }
  .lead-form textarea {
    height: 140px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .lead-form button[type="submit"] {
    height: 56px !important;
    font-size: 16px !important;
    border-radius: 16px !important;
  }

  .tariffs button {
    all: unset !important; 
    display: inline-block !important;
    text-align: center !important;
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 15px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    width: 200px !important;
    height: 38px !important;
    line-height: 24px !important;
    padding: 0 !important;
    margin-top: -7px !important;
  }

  .tariffs button:nth-child(2) {
    background: #fff !important;
    color: #000 !important;
    border: 
    none !important;
  }

  .btns1{
    transform: translateY(10px);

  }

  .btns2{
    transform: translateY(5px);
  }

  .btns3{
    transform: translateY(7px);
  }

  .btns4{
    transform: translateY(8px);
  }

   .CardBlack[style*="height"] {
    height: 290px !important;
  }
  .CardRed[style*="height"] {
    height: 390px !important;
  }

  .lead-form > div {
    flex-direction: column !important;
    gap: 5px !important;
  }

  .lead-form > div > div {
    width: 100% !important;
   
  }

  .lead-form input,
  .lead-form textarea {
    width: 100% !important;
  }

  .phone-block{
    transform: translateY(-10px);

  }

  .desc-block{
    transform: translateY(-20px);

  }

  .formbtn{
    width: 150px !important;
    display: block;      
    margin: 0 auto;
  }


  /* -------------------------------- */
    .card-circle {
    position: absolute !important;
    top: -59px !important;                   
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 143px;
    height: 140px;
    background: #ffffff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    }


    .red-circle{
    width: 48px;
    height: 48px;
    background: #780F0F;
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    z-index: 10; 
  }

  .watermark{
    font-weight: 600;
    font-size: 20px !important;
    margin-top: -280px !important; 
    margin-bottom: 10px !important;  
  }
  }

  @media (min-width: 1440px) and (max-width:1500px) {

   .page-wrap {
    padding: 10px !important;
    min-height: 100vh;
    position: relative;
}

  .intro {
    gap: 12px !important;
    margin-top: 2px;
  }
  .intro img {
    width: 125px !important;
    height: auto !important;
    margin: 0px 15px!important;
    inset: 0 !important;
    position: static !important;
    transform: translateX(5px)
    
  }
  .intro p {
    font-size: clamp(5px, 4.5vw, 26px) !important;
    position: static !important;
    margin: 0px 19px!important;
    text-align: left;
    transform: translateX(-10px)
  }

  /* Hero-блок (огромные заголовки и картинка) */
  .hero * {
    position: static !important;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    transform: translateY(-4px)
  }

  .hero h1 {
    font-size: clamp(20px, 10vw, 120px) !important;
    line-height: 1.1 !important;
    margin: 8px 5px !important;
    text-wrap: balance;
    text-align: center;
  }

   .p-left {
    font-size: clamp(5px, 4.8vw, 35px) !important;
    margin: 2px 38px !important;
    transform: translateY(-20px) 
  }

   .p-right {
    font-size: clamp(5px, 4.8vw, 35px) !important;
    margin: 2px 25px !important;
    transform: translateY(-63px) 
  }

  .p-down {
    font-size: clamp(5px, 4.8vw, 33px) !important;
    margin: 2px 40px !important;
    transform: translateY(280px)
  }
   
  .hero ul {
    font-size: clamp(5px, 4.5vw, 33px) !important;
    line-height: 1.4 !important;
    padding-left: 0 !important;
    margin: 8px 25px !important;
    transform: translateY(-30px)
  }
  .hero img {
    width: 58% !important;
    height: auto !important;
    display: block !important;
    margin: 12px 540px 0 !important;
    transform: translateY(-420px);
    
  }

  /* Описание */
  .desc {
    position: static !important;
  }
  .desc p {
    font-size: clamp(5px, 4.3vw, 24px) !important;
    line-height: 1.45 !important;
    text-align: center !important;
    transform: translateY(-390px);
  }

  /* ИГРА ДЛЯ ВАС */
  .who p {
    font-size: clamp(10px, 7vw, 55px) !important;
    margin: 16px 0 !important;
    text-align: center !important;
    transform: translateY(450px);
  }

  /* Карточки 1–6 */
  .cards-container {
    position: relative !important;
    gap: 20px !important;
    row-gap: 60px !important;
    justify-content: center !important;
    transform: translateY(480px);
   
  }
  .cards-container > div {
    width: 400px !important;
    height: 320px !important;
    padding-top: 52px !important; 
  }
  .cards-container p {
    font-size: clamp(5px, 4.2vw, 29px) !important;
    width: 380px!important;
    top: 0 !important;
    text-align: center !important;
  }
  .cards-container > div > div[style*="borderRadius: 116.5"] {
    width: 60px !important;
    height: 53px !important;
  }

  .card-circle {
    position: absolute;
    top: -20px;                        
    left: 50%;
    transform: translateX(-50%);
    width: 59px;
    height: 59px;
    background: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    }

    .card-circle img{
      width: 120px;
      height:120px;
      object-fit: contain;
    }

    .card-p1{
      transform: translateY(-60px);
    }

    .card-p2{
      transform: translateY(-60px);
    }

    .card-p3{
      transform: translateY(-60px);
    }

    .card-p4{
      transform: translateY(-60px);
    }

    .card-p5{
      transform: translateY(-35px);
    }
    .card-p6{
      transform: translateY(-60px);
    }

  .structure-left {
    width: 100% !important;
    height: auto !important;
    position: static !important;
  }
  .structure-left .p1 {
    font-size: clamp(10px, 6vw, 50px) !important;
    transform: translateY(-250px);
    padding: 0px 80px;
  }
  .structure-left .p2 {
    font-size: clamp(9px, 6vw, 30px) !important;
    transform: translateY(-230px);
    width: 500px;
    padding: 0px 71px;
  }

  .structure-left ul {
    font-size: clamp(9px, 4.2vw, 30px) !important;
    line-height: 1.5 !important;
    transform: translateY(-230px);
    padding: 0px 95px;
  }
  
  .structure-circles {
     position: static !important;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 2px 8px !important; 
      width: 40% !important;
      height: auto !important;
      margin-top: 20px !important;
      transform: translateY(-650px);
      margin-left:800px ;
  }
  .structure-circles > div {
    width: 150px !important;
    height: 150px !important;
  }

  .structure-circles img{
    width: 120px;
    height: 120px;
  }

  .denushka{
    width: 120px !important;
    height: 12щpx !important;
    margin-right: 15px;
  }

  .teama{
    width: 120px !important;
    height: 120px !important;
  }

   .red-circle{
    background: #780f0f;
    border-radius: 50%;
    position: absolute;
    top:14px;
    left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    width: 11px;
    height: 11px;    
  }

  /* Команда */
  .team-title {
    position: static !important;
  }
  .team-title p {
    font-size: clamp(20px, 6.5vw, 50px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-580px);
  }
  .team-slider {
    position: static !important;
  }
  .team-slider > div {
    width: 680px !important;
    height:670px !important;
    transform: translateY(-600px);
  }
  .team-slider > div > div {
    flex: 0 0 100% !important;
    height:670px !important;
  }

  /* Блок МАК-карты */
  .mac-text {
    width: 95% !important;
    left: 0 !important;
    position: static !important;
    transform: translateY(-560px);
  }
  .mac-text p {
    font-size: clamp(10px, 4.2vw, 25px) !important;
    text-align: center !important;
  }

  /* Тарифы */
  .tariffs-title {
    position: static !important;
  }
  .tariffs-title p {
    font-size: clamp(10px, 6.5vw, 50px) !important;
    text-align: center !important;
    margin: 16px 0 !important;
    transform: translateY(-640px);
  }
  .tariffs {
    position: static !important;
    gap: 50px !important;
     transform: translateY(-620px);
  }
  .tariffs > div {
    width: 555px !important;
    height: 800px !important;
    padding: 20px !important;
  }
  
  .tariffs h3 {
    font-size: clamp(5px, 5.5vw, 26px) !important;
  }
  .tariffs ul {
    font-size: clamp(5px, 4.2vw, 16px) !important;
    transform: translateY(-30px);
  }

  .tarriffs li:not(:last-child) {
  margin-bottom: 30px; 
}

  .tariffs [style*="rotate(-15deg)"] {
    width: 130px !important;
    height: 130px !important;
    font-size: 30px !important;
    top: -45px !important;
    right: -55px !important;
  }

  /* Форма */
  .lead-form {
    width: 719px !important;
    height: 604px;
    padding: 20px !important;
    top: 0 !important;
    gap: 16px !important;
    transform: translateY(-550px);
    
  }
  .lead-form h2 {
    font-size: clamp(18px, 6vw, 22px) !important;
    margin-bottom: -25px !important;
  }
 
  .lead-form p {
    font-size: 14px !important;
    margin-bottom: 4px !important;
  }
  .lead-form input,
  .lead-form textarea {
    height: 52px !important;
    font-size: 16px !important;
    padding: 0 14px !important;
    border-width: 1.5px !important;
  }
  .lead-form textarea {
    height: 140px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .lead-form button[type="submit"] {
    height: 56px !important;
    font-size: 16px !important;
    border-radius: 16px !important;
  }

  .tariffs button {
    all: unset !important; 
    display: inline-block !important;
    text-align: center !important;
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 15px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    width: 200px !important;
    height: 38px !important;
    line-height: 24px !important;
    padding: 0 !important;
    margin-top: -7px !important;
  }

  .tariffs button:nth-child(2) {
    background: #fff !important;
    color: #000 !important;
    border: 
    none !important;
  }

  .btns1{
    transform: translateY(10px);

  }

  .btns2{
    transform: translateY(-2px);
  }

  .btns3{
    transform: translateY(5px);
  }

  .btns4{
    transform: translateY(8px);
  }

   .CardBlack[style*="height"] {
    height: 290px !important;
  }
  .CardRed[style*="height"] {
    height: 390px !important;
  }

  .lead-form > div {
    flex-direction: column !important;
    gap: 5px !important;
  }

  .lead-form > div > div {
    width: 100% !important;
   
  }

  .lead-form input,
  .lead-form textarea {
    width: 100% !important;
  }

  .phone-block{
    transform: translateY(-10px);

  }

  .desc-block{
    transform: translateY(-20px);

  }

  .formbtn{
    width: 150px !important;
    display: block;      
    margin: 0 auto;
  }


  /* -------------------------------- */
    .card-circle {
    position: absolute !important;
    top: -59px !important;                   
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 143px;
    height: 140px;
    background: #ffffff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    }


    .red-circle{
    width: 48px;
    height: 48px;
    background: #780F0F;
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    z-index: 10; 
  }

  }

  

 @media (min-width: 1024px) and (max-width: 1919.98px) {
  .page-wrap{
    max-width: 1919px !important;
    margin: 0 auto !important;
  }

  .card-circle{
    position: absolute !important;
    top: -50px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 120px !important;
    height: 120px !important;
    background: #fff;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
  }


  .card-circle img{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
  }


  .red-circle{
    width: 40px !important;
    height: 40px !important;
    bottom: 80px !important;
    left: -20px !important;
    background: #780F0F;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px !important;
    font-weight: 700;
    z-index: 10;
  }

    .watermark{
    font-weight: 600;
    font-size: 20px !important;
    margin-top: -580px !important; 
   
  }
}